@mixin triangle($direction, $color, $height, $width: $height) {
	@if $direction == "left" {
		border-bottom: ($height * 1px) solid transparent;
		border-right: ($width * 1px) solid $color;
		border-top: ($height * 1px) solid transparent;
	}
	@else if $direction == "right" {
		border-bottom: ($height * 1px) solid transparent;
		border-left : ($width * 1px) solid $color;
		border-top: ($height * 1px) solid transparent;
	}
	@else if $direction == "up" {
		border-bottom: ($height * 1px) solid $color;
		border-left: ($width * 1px) solid transparent;
		border-right: ($width * 1px) solid transparent;
	}
	@else if $direction == "down" {
		border-right: ($width * 1px) solid transparent;
		border-left: ($width * 1px) solid transparent;
		border-top: ($height * 1px) solid $color;
	}
	content: "";
	height: 0;
	position: absolute;
	width: 0;
}