@mixin prem($property, $values, $important: false, $base-font-size: $baseFontSize) {

	$px-values: ();
	$rem-values: ();

	@each $value in $values {
		@if type-of($value) == number {
			$px-values: join($px-values, #{$value}px);
			$rem-values: join($rem-values, #{$value / $base-font-size}rem);
		}
	}

	@if $important == "!important" {
		#{$property}: $px-values $important;
		#{$property}: $rem-values $important;
	} @else {
		#{$property}: $px-values;
		#{$property}: $rem-values;
	}
}
